---
import type { GetStaticPaths } from "astro";
import projectData from "../../../../data/projects.json";
import ProjectFeatures from "../../../../components/ProjectsFeatures.astro";
import Layout from "../../../../layouts/Layout.astro";
import BentoGrid from "../../../../components/BentoGrid.astro";
import { fetchGitHubRepoData } from "../../../../utils/github";
import TestingDetails from "../../../../components/TestingDetails.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const locales = ["en", "es"];
  return projectData.projects.flatMap((project) =>
    locales.map((lang) => ({
      params: { lang, id: project.id.toString() },
      props: { project, lang },
    }))
  );
};

interface AlgorithmFeature {
  description: string;
  benefits?: string[];
  steps?: string[];
}

interface Project {
  id: number;
  name: { en: string; es: string };
  description: { en: { text: string }[]; es: { text: string }[] };
  role: { en: string; es: string };
  institution: string | { en: string; es: string };
  timeframe: { en: string; es: string };
  github_repositories?: string[];
  url: string;
  images: string[];
  algorithm_features: {
    titles: { en: string; es: string };
    en: Record<string, string>;
    es: Record<string, string>;
  };
  end_to_end_testing_with_vitest: {
    en: { description: { text: string }[] };
    es: { description: { text: string }[] };
  };
}

const { project, lang } = Astro.props as {
  project: Project;
  lang: "en" | "es";
};

const repoData = await Promise.all(
  project.github_repositories?.map(fetchGitHubRepoData) || []
);
---

<Layout title={`Project | ${project.name[lang]}`} lang={lang}>
  <head>
    <title>{project.name} - Fran García López</title>
    <meta
      name="description"
      content={project.description[lang].map((d) => d.text).join(" ")}
    />
    <link
      rel="canonical"
      href={`https://fran-garcia-lopez.com/${lang}/projects/${project.id}/`}
    />
  </head>

  {
    /*
    Contenedor principal:
    - Asegura una altura mínima (min-h-screen).
    - Usa py y px consistentes en móviles/medianas/grandes (p.ej. px-4 -> px-8 -> px-10).
    - max-w-7xl y mx-auto para centrar y limitar el ancho en pantallas grandes.
  */
  }
  <section
    class="relative min-h-screen bg-[#222428] text-white
    px-4 md:px-8 lg:px-10
    py-8 md:py-12 lg:py-16"
  >
    <div class="max-w-7xl mx-auto">
      <!-- Botón Volver -->
      <button
        type="button"
        class="text-[#eae0d5] rounded-2xl py-2 px-2 hover:bg-[#c2b280] hover:text-black transition-all duration-300 flex items-center"
        onclick="window.history.back()"
      >
        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      <!-- Título del Proyecto -->
      <h1
        class="text-3xl md:text-7xl lg:text-5xl font-semibold tracking-wide text-[#f5f5dc] uppercase mt-6"
      >
        {project.name[lang]}
      </h1>

      <!-- Botón de Ver Proyecto -->
      {
        project.url && (
          <div class="mt-6">
            <a
              href={project.url}
              class="inline-block text-black font-bold bg-[#eae0d5] text-lg rounded-lg hover:bg-[#c2b280] transition-all duration-300 py-2 px-4"
            >
              {lang === "es" ? "Ver el Proyecto" : "Check the Project"}
            </a>
          </div>
        )
      }

      <!-- Descripción -->
      <div
        class="mt-6 text-lg md:text-2xl lg:text-xl text-[#eae0d5] leading-relaxed"
      >
        {
          project.description[lang].map((descObj) => (
            <p class="py-4 md:py-6">{descObj.text}</p>
          ))
        }
      </div>

      <!-- Imágenes -->
      <BentoGrid project_images={project.images} class="mt-12" />

      <!-- Características del Algoritmo -->
      {
        project.algorithm_features && (
          <div class="mt-12">
            <h2
              class="
              text-xl sm:text-3xl md:text-4xl lg:text-5xl
              mt-10 md:mt-12 md:mb-6
              font-serif leading-tight tracking-wide text-[#f5f5dc] uppercase text-start
            "
            >
              {project.algorithm_features.titles[lang]}
            </h2>
            <ProjectFeatures
              algorithm_features={project.algorithm_features[lang]}
            />
          </div>
        )
      }

      <!-- Repositorios GitHub -->
      {
        repoData.length > 0 && (
          <div class="mt-8 mx-2">
            <h2 class="text-lg text-[#f5f5dc] font-bold">
              {lang === "es"
                ? "Repositorios de GitHub:"
                : "GitHub Repositories:"}
            </h2>
            <ul class="list-none list-inside text-[#c2b280]">
              {repoData.map((repo) =>
                repo ? (
                  <li class="mt-2">
                    <a
                      href={repo.url}
                      class="text-[#0099ff] underline hover:text-[#0077cc] transition-all duration-300"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {repo.url.split("/").pop()}
                    </a>
                    <span class="text-[#f5f5dc] ml-2">
                      ⭐ {repo.stars} | 🍴 {repo.forks} | 📅 {repo.lastUpdated}
                    </span>
                  </li>
                ) : null
              )}
            </ul>
          </div>
        )
      }

      <!-- Testing Details -->
      <TestingDetails
        testingDetails={project.end_to_end_testing_with_vitest?.[lang]}
        lang={lang}
      />

      <!-- Detalles Adicionales -->
      <div class="text-[#c2b280] md:text-xl mt-2">
        <p class="text-lg mx-2">
          <strong class="text-[#f5f5dc] text-lg">
            {lang === "es" ? "Rol:" : "Role:"}
          </strong>
          {project.role[lang]}
        </p>
        <p class="text-lg mt-4 mx-2">
          <strong class="text-[#f5f5dc] text-lg">
            {lang === "es" ? "Institución:" : "Institution:"}
          </strong>
          {
            typeof project.institution === "string" ? (
              project.institution.includes("MiduDev") ? (
                <span class="text-[#0099ff] font-bold text-lg ml-2 mx-2">
                  {lang === "es"
                    ? "Inspirado en el tutorial de MiduDev"
                    : "Inspired by MiduDev's tutorial"}
                </span>
              ) : (
                <span class="text-[#fcb700] text-lg ml-2 mx-2">
                  {project.institution}
                </span>
              )
            ) : (
              <span class="text-[#0099ff] text-lg ml-2 mx-2">
                {project.institution[lang]}
              </span>
            )
          }
        </p>
        <p class="text-lg mt-4 mx-2">
          <strong class="text-[#f5f5dc] text-lg">
            {lang === "es" ? "Período de tiempo:" : "Timeframe:"}
          </strong>
          {project.timeframe[lang]}
        </p>
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const projectLoader = document.getElementById("project-loader");
    const projectContent = document.getElementById("project-content");

    // Si hay un loader, lo ocultamos al cargar
    if (document.readyState === "complete") {
      if (projectLoader && projectContent) {
        projectLoader.style.display = "none";
        projectContent.style.opacity = "1";
      }
    } else {
      window.addEventListener("load", () => {
        if (projectLoader && projectContent) {
          projectLoader.style.display = "none";
          projectContent.style.opacity = "1";
        }
      });
    }
  });
</script>
